.discover_header {
    height: 30px;
    background-color: #c02c0c;
}

.discover_header_content {
    display: flex;
    padding-left: 180px;
    position: relative;
    /*align-items: center;*/
    max-width: 1100px;
    justify-content: center;
    top: -4px;

}

.discover_header_content_item a{

        display: inline-block;
        height: 20px;
        line-height: 20px;
        padding: 0 13px;
        margin: 7px 13px 0;
        color: #fff;
        text-decoration: none;
        box-sizing: border-box;
}

.discover_header_content_item a:hover, .discover_header_content_item .active {
    text-decoration: none;
    background-color: #9b0909;
    border-radius: 20px;
}



